doctype html
html(lang="ru-RU")
  head
    title
      block title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="styles/bootstrap-grid.min.css" rel="stylesheet")
    link(href="styles/slick.css" rel="stylesheet")
    link(href="styles/jquery.fancybox.min.css" rel="stylesheet")
    link(href="styles/style.css" rel="stylesheet")
    link(href="styles/mobile.css" rel="stylesheet")
    != "<!--[if lt IE 9]>"
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    != "<![endif]-->"
  body
    .main.m-page
      
      block content
      include ../modules/footer
      
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/slick.min.js")
    script(src="js/jquery.fancybox.min.js")
    script(src="js/parallax.min.js")
    script(src="js/scripts.js")
    
    
