include ../layout/mixins

footer.footer
  .container
    .row
      .col-12.col-sm-12.col-md-7.col-lg-7.col-xl-7
        ul.f-navi.clearfix
          li.f-navi-item
            a.f-navi-link(href="#") О нас   
          li.f-navi-item
            a.f-navi-link(href="#") Туры
          li.f-navi-item
            a.f-navi-link(href="#") Страны
          li.f-navi-item.active
            a.f-navi-link(href="#") Контакты
      
      .col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5
        .copyright
          | Good Time Travel 2019 ©
      
