extends layout/main
include layout/mixins

block title
  | Аккаунт

block content
  section.account
    .container
      h1 константин <br /> константинопольский
      
      .account-box
        .row
          .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
            .account-box-inner
              .account-box-inner--col.w1
                p
                  strong Итого
              .account-box-inner--col
                p 
                  strong 11 
                  | из 
                  strong 57
                | правильных <br />ответов
              .account-box-inner--col
                p 
                  strong 30:56
                | затрачено <br />в ходе тестов
          .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
            .social-row
              .row.align-items-center
                .col-6.col-lg-6.col-xl-6
                  .social-row-text поделитесь результатом <br />в социальных сетях
                  
                .col-6.col-lg-6.col-xl-6
                  ul.social-box.light-color
                    li
                      a.social-box-link.vk(href="#")
                    li
                      a.social-box-link.ok(href="#")
                    li
                      a.social-box-link.tw(href="#")
                    li
                      a.social-box-link.fb(href="#")      
        
    .results-tests
      .container
        h3 результаты тестирований
      .results-tests-row.title
        .container
          .results-tests-wrap
            .results-tests-col.w1 Название региона
            .results-tests-col.w3
              .results-tests-col.w2 Правильных ответов
              .results-tests-col.w2 Затраченное время
            .results-tests-col.w4 &nbsp;
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
    .container  
      .account-box.d-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        .social-row
          .row.align-items-center
            .col-12
              .social-row-text поделитесь результатом <br />в социальных сетях
              
            .col-12
              ul.social-box.light-color
                li
                  a.social-box-link.vk(href="#")
                li
                  a.social-box-link.ok(href="#")
                li
                  a.social-box-link.tw(href="#")
                li
                  a.social-box-link.fb(href="#")
      
    .results-tests
      .container
        h3 глобальный рейтинг      
      .results-tests-row.title
        .container
          .results-tests-wrap
            .results-tests-col.w5 Место
            .results-tests-col.w6 Имя участника
            .results-tests-col.w7 
              .results-tests-col.w2 Правильных ответов
              .results-tests-col.w2 Затраченное время
      .results-tests-row.active
        .container
          .results-tests-wrap        
            .results-tests-col.w5 1
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28
      .results-tests-row
        .container
          .results-tests-wrap        
            .results-tests-col.w5 2
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28
      .results-tests-row
        .container
          .results-tests-wrap        
            .results-tests-col.w5 3
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28
