extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country(style="background: url(content/bg-country.jpg) center top no-repeat;")
    .container
      .country-header
        h1 Австрия
        .country-header-subtitle Земля Тироль. Долина Пацнаун

    .country-map
      .container
        .country-map-header
          h3 Курорт Каппль 
          a.btn-primary.w-font.d-none.d-sm-none.d-md-block.d-lg-block.d-xl-block(href="#") далее
      .country-map-row
        img(src="content/map.jpg" alt="" class="img-fluid")
      .container
        a.btn-primary.w-font.d-block.d-sm-block.d-md-none.d-lg-none.d-xl-none(href="#") далее
