extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country(style="background: url(content/bg-country.jpg) center top no-repeat;")
    .container
      .country-header
        h1 Австрия
        .country-header-subtitle Земля Тироль. Долина Пацнаун

      .country-things
        h2 чем заняться?
        
        .row
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") рождество в зальцбурге
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") Ski Shuttle
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо.
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") Достопримечательности
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.
      .btn-more
        a.btn-primary.w-font(href="#") начать тестирование
      
    .popup.popup-article#art-popup
      .popup-article--pic 
        img(src="content/photo-article4.jpg" alt="" class="img-fluid")
      .popup-article--text
        h3 рождество в зальцбурге
        
        p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

        p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

        p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

        
        
