extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country
    .country-header(style="background: url(content/bg-country.jpg) center top no-repeat;")
      .container
        .country-header-wrap
          .country-header-l
            a.country-arrow.lf(href="#")
              span австрия. земля тироль. <br />
              | долина пацаун
          .country-header-c
            h1 Австрия
            .country-header-subtitle Земля Тироль. Долина Пацнаун
          .country-header-r
            a.country-arrow.rg(href="#")
              span далее к франция. <br />
              | курорт валь торанс
    .container
      .country-text
        h2 перевалочный пункт <br /> для горнолыжников
        
        .text-slider
          div
            .text-slider-item
              .row
                .col-6.col-lg-6.col-xl-6
                  p Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.
                .col-6.col-lg-6.col-xl-6
                  p Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.

                  p Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.
          div
            .text-slider-item
              .row
                .col-6.col-lg-6.col-xl-6
                  p Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.
                .col-6.col-lg-6.col-xl-6
                  p Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.

                  p Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.
                  
        .fancy-slider
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
                
      .country-things
        h2 чем заняться?
        
        .row.country-things-row
          .col-7.col-lg-7.col-xl-7
            h4 рождество в зальцбурге
            p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

            p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

            p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
              
        .row.country-things-row
          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
          .col-6.col-lg-6.col-xl-6
            h4 Ski Shuttle
            
            p В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо, а также некоторых крупных городов севера Италии на самые известные горнолыжные курорты провинции Трентино.

            p Благодаря сотрудничеству с транспортной компанией Orio Shuttle маршрутная сеть еще больше расширилась – среди аэропортов, откуда быстро и удобно можно попасть на популярные горнолыжные курорты в Доломитах, появился самый крупный аэропорт Милана – Malpensa. Бронировать поездки нужно заранее в Интернете: www.flyskishuttle.com.
            
        .row
          .col-7.col-lg-7.col-xl-7
            h4 Достопримечательности круглый год
            
            p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

            p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

            p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
      
    .testing-block
      .testing-block-pic
        img(src="content/photo-article1.jpg" alt="" class="img-fluid")
      .container
        .row
          .col-5.col-lg-5.col-xl-5
            h3 тестирование
            p Проверьте свои знания относительно Зальцбурга в нашем тестировании. Тестирование покажет, насколько            хорошо вы подготовлены для продажи туров по этому направлению, а также даст вам преимущество перед другими, так как результатами тестирования можно поделиться в социальных сетях, а мы подтвердим что вы действительно успешно справились со всеми вопросам. 
            
            a.btn-primary(href="#") начать тест     
          
          
