extends layout/main
include layout/mixins

block title
  | Выбор страны

block content  
  section.choice-country 
    .container
      h2 выберите страну и регион
      
      .choice-slider
        +slide
        +slide
        +slide    
                     
  
      
        

      
