extends layout/enter-main
include layout/mixins

block title
  | Главная страница

block content
  section.main-box
    .main-box-wrap
      .container
        .main-box-title
          | горнолыжная</br >
          | академия
          span от </br >
            strong Good</br >
              | Time</br >
              | Travel
        #scene
          .main-box--cloud-l(data-depth="0.8")
          .main-box--cloud-r(data-depth="0.5")
        .main-box-buttons
          a.btn-primary.fancybox(href="#enter-popup") вход
          a.btn-primary.fancybox(href="#register-popup") регистрация
    
    .popup#enter-popup
      .popup-form
        .popup-title вход на сайт
        .popup-subtitle Спасибо что вернулись к нам!
        
        form(method='POST' action='')
          .form-b-row
            .form-b-label Электронная почта
            input.form-b-inp(type="text" placeholder="")
          .form-b-row
            .form-b-label Пароль
            .form-b-wrap
              input.form-b-inp(type="password" placeholder="")
              
              .check-item
                label.check-item-label(for="id")
                  input(type="checkbox" id="id")
                  span.check-item-dot
                  span.check-item-name Запомнить  
          .popup-forgot
            a(href="#") Забыли пароль?
          .popup-buttons
            button.btn-primary(type="submit") войти
    
    .popup#register-popup
      .popup-form
        .popup-title регистрация
        .popup-subtitle Пройдите быструю регистрацию, <br /> чтобы получить доступ к порталу и тестам
        
        form(method='POST' action='')
          .form-b-row
            .form-b-label Имя
            input.form-b-inp(type="text" placeholder="Иван")
          .form-b-row
            .form-b-label Фамилия
            input.form-b-inp(type="text" placeholder="Иванов")
          .form-b-row
            .form-b-label Электронная почта
            input.form-b-inp(type="text" placeholder="example@example.com")
          .form-b-row
            .form-b-label Пароль
            input.form-b-inp(type="password" placeholder="Только латинские буквы и цифры")
          .popup-buttons
            button.btn-primary(type="submit") зарегистрироваться
