extends layout/main
include layout/mixins

block title
  | Главная страница

block content
  section.article
    .container
      .row
        .col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7.order-2.order-sm-1.order-md-1.order-lg-1.order-xl-1
          h1 горнолыжная академия
          
          p На сегодняшний день компания 
            strong GOOD TIME TRAVEL 
            | — крупнейший многопрофильный туроператор Северо-Западного Федерального округа, способный безупречно организовывать увлекательные вояжи по всему миру. 

          p Два современных офиса в Санкт-Петербурге, офис в Ростове-на-Дону, представительства в Новосибирске и Екатеринбурге.
          
          .article-pic.d-block.d-sm-none.d-md-none.d-lg-none.d-xl-none
            img(src="content/photo-article5.jpg" alt="" class="img-fluid")

          p Основная цель нашей деятельности заключается в удовлетворении растущих запросов российского туриста с ориентацией на предпочтения знающих и бывалых путешественников. Если у вас осталось мало чистых страниц в загранпаспорте – мы готовы приятно удивить вас принципиально новыми турами, во время которых даже хорошо знакомые места предстанут перед вами в ином более привлекательном виде.
          
          p Туроператор GOOD TIME TRAVEL – <br /> с нами можно хоть на Северный Полюс!
          
          a.btn-primary.w-font(href="#") к выбору курорта
        .col-12.col-sm-5.col-md-5.col-lg-5.col-xl-5.order-1.order-sm-2.order-md-2.order-lg-2.order-xl-2
          .article-pic
            img(src="content/photo-article.jpg" alt="" class="img-fluid")
