extends layout/main
include layout/mixins

block title
  | Результаты

block content
  section.results
    .container
      h1 Австрия
      .results-subtitle Земля Тироль. Долина Пацнаун
      
      .row
        .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.order-2.order-sm-2.order-md-2.order-lg-1.order-xl-1
          .row
            .col-6
              a.results-box.clock(href="#")
                span.results-box--descr затраченное <br /> время
                span.results-box--data 
                  strong 10:25
                
            .col-6
              a.results-box.answ(href="#")
                span.results-box--descr правильные <br /> ответы
                span.results-box--data 
                  strong 8 
                  | из 
                  strong 10
        .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.order-1.order-sm-1.order-md-1.order-lg-2.order-xl-2
          .results-text
            h3 поздравляем,<br /> вы неплохо справились!
            p Вы успешно ответили на большинство вопросов теста, вы можете попробовать пройти тест заново и улучшить свои показатели, лбио вернуться на главную и попробовать себя в других регионах.
            
          .results-f-col.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
            .results-buttons
              .row
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                  a.btn-primary(href="#") пройти заново
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                  a.btn-primary(href="#") Вернуться на главную
                    
            .social-row
              .row.align-items-center
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                  .social-row-text поделитесь результатом <br />в социальных сетях
                  
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                  ul.social-box
                    li
                      a.social-box-link.vk(href="#")
                    li
                      a.social-box-link.ok(href="#")
                    li
                      a.social-box-link.tw(href="#")
                    li
                      a.social-box-link.fb(href="#")
        
      .results-f-col.d-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        .results-buttons
          .row
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
              a.btn-primary(href="#") пройти заново
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
              a.btn-primary(href="#") Вернуться на главную
                
        .social-row
          .row.align-items-center
            .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
              .social-row-text поделитесь результатом <br />в социальных сетях
              
            .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
              ul.social-box
                li
                  a.social-box-link.vk(href="#")
                li
                  a.social-box-link.ok(href="#")
                li
                  a.social-box-link.tw(href="#")
                li
                  a.social-box-link.fb(href="#")        
