extends layout/main
include layout/mixins

block title
  | Тесты

block content
  section.quiz
    .container
      h1 Австрия
      .quiz-subtitle земля тироль. долина пацнаун
      
      .quiz-row
        .quiz-row-title Вопрос 
          strong 1 
          | из 
          strong 10
        
        .timer Осталось 
          strong 15:42
      .quiz-progress
        span(style="width: 88px;")
          
      form(method='POST' action='')
        .quiz-question Какие зоны катания между собой соединены <br /> системой канатов?
          
        .row
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button.active Зоны катания Дорфгастайн и Спортгастайн
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Все зоны катания и этой долине соединены между собой подъемниками
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Зоны катания курортов Бад Хофгастайн и Бад Гастайн
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Все зоны катания соединяет между собой только бесплатный лыжный автобус
        button.btn-primary Следующий вопрос
