include ../layout/mixins

header.header
  .container
    .header-row
      a.logo(href="#")
        img(src="images/logotype.png" alt="logo" class="img-fluid")

      +navi
        
      a.btn-primary.w-border(href="#") выйти
      a.btn-navi(href="#")
