
<header class="header">
  <div class="container">
    <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"/></a>
      <ul class="navi">
        <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
        <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
        <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
        <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
      </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
    </div>
  </div>
</header>