mixin navi
  ul.navi
    li.navi-item.active
      a.navi-link(href="#") Главная  
    li.navi-item
      a.navi-link(href="#") Курорты
    li.navi-item
      a.navi-link(href="#") Личный кабинет
    li.navi-item.navi-item-exit
      a.navi-link(href="#") Выйти
    
mixin slide 
  div
    .slider-item
      .row
        .col-12.col-sm-12.col-md-12.col-lg-5.col-xl-5
          .slider-item-photo(style="background: url(content/photo.jpg) center no-repeat;")
        .col-12.col-sm-12.col-md-12.col-lg-7.col-xl-7
          .slider-item-box
            .slider-item-title
              span Австрия
              | Земля Зальцбург. город Зальцбург
            .slider-item-descr
              div 
                | Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке. Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке.
              
            a.btn-primary(href="#") подробнее
