#hour,#min,#sec,#day {
	/*float:left;*/
	padding:5px;
	/*width:48px;
	height:55px;*/
	position:relative;
	display:block;
}

.counter p {
    margin: 0px;
    padding: 0px;
   /* width: 64px;
    height: 65px;*/
    /*float: left;*/
    color: #000;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
}
#sec1,#min1,#hour1,#day1 {
	margin-left:18px;
}
#timer_wrap {
	margin-top: -32px;
    position: relative;
}

#clock {
	padding:0 30px 0 0;
}
#razd {
	float:left;
	color:#000;
	font-weight:bold;
	font-size:3em;
	margin:0px 3px 0px 3px;
}
#stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}
.countdown_section .countdown_amount:nth-child(2){
	margin-left:35px;
}
.countdown_section .countdown_amount:first-child{
	margin-right: 30px;
}
.countdown_amount{
	float:left;
}
.double-dots{
	position: absolute;
    right: 35px;
    top: 5px;
}
.quiz-button{
	align-items: center;
	cursor:pointer;
}
.quiz-subtitle:last-child {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
  .counter p { font-size: 16px; }

  #timer_wrap { margin-top: -20px; }
  #hour, #min, #sec, #day { padding: 3px; }
  #min1, #sec1 { margin-left: 14px; }

  .double-dots { top: 3px; }
}
