/* primary vars */
$color-primary: #333;
$color-black: #000;
$color-white: #fff;
$color-blue: #1B68E3;;
$color-gray: #EBEBEB;
$align-center: center;

/* common */

/* mixins */
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
  border-radius: $radius;
}

/* media */
@media (min-width: 1650px) {

}

@media (max-width: 1600px) {

}

@media (min-width: 1440px) {
  .main {
    &.m-page {
      background-size: contain;
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1100px) {

}

@media (max-width: 992px) {

  /* header */


  /* content */
  .main-box {
    &-title {
      font-size: 70px;

      span {
        display: block;
        font-size: 11px;
        margin: 0;
        top: 0;
        white-space: nowrap;

        strong {
          font-size: 15px;
        }

        br {
          display: none;
        }
      }
    }
  }


  /* footer */

}

@media (max-width: 991px) {
  .header-row {
    .navi {
      margin-right: 0;
    }
  }

  .article {
    h1 {
      font-size: 45px;
    }
  }

  .choice-country {
    .choice-slider {
      padding: 0;
    }
  }

  .slider-item-title {
    span {
      font-size: 45px;
    }
  }

  .popup-article {
    width: 700px;
  }

  .results {
    &-box {
      margin-bottom: 30px;
    }

    &-text {
      text-align: $align-center;
    }

    &-f-col {
      .social-row {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }

  .social-row {
    text-align: $align-center;

    &-text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;

    .row {
      margin-left: -20px;
      margin-right: -20px;

      [class^='col-'] {
        padding: 0 20px;
      }
    }
  }

  /* header */
  .header {
    padding: 20px 0;
  }

  .logo {
    width: 118px;
  }

  .header-row .navi,
  .btn-primary.w-border {
    display: none;
  }

  .header-row .navi.active,
  .btn-navi {
    display: block;
  }

  .navi {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #FBFBFB;
    z-index: 11;
    padding-bottom: 20px;

    &-item {
      .header-row & {
        margin-right: 0;
      }

      &-exit {
        display: block;

        a:hover {
          background-color: #FBFBFB;
        }
      }
    }

    &-link {
      height: auto;
      line-height: 1.2;
      padding: 18px 22px;
      font-size: 20px;

      &::before {
        display: none !important;
      }

      &:hover {
        background: linear-gradient(102.04deg, #1E70E7 0%, rgba(30, 112, 231, 0) 100%), linear-gradient(0deg, #1E70E7, #1E70E7);
        color: $color-white;
      }
    }
  }

  /* content */
  .wrap-page {
    bottom: -110px;
  }

  #scene {
    opacity: 0.5;
  }

  .main-box {
    align-items: flex-end;
    padding-bottom: 70px;

    &-title {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 43px;
      position: relative;
      z-index: 101;

      span {
        padding-top: 10px;
      }
    }

    &-buttons {
      position: relative;

      .btn-primary {
        display: block;
        margin: 0 0 10px;

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  .popup {
    width: 100%;
    top: 0;
    @include border-radius(0);
    background-size: cover;

    &-form {
      width: 100%;
    }

    &-title {
      font-size: 20px;
      margin-bottom: 7px;
    }

    &-subtitle {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 20px;
    }

    &-buttons {
      padding-top: 10px;

      .btn-primary {
        min-width: 100px;
        width: 100%;
        display: block;
      }
    }

    &-forgot {
      padding-left: 45%;
      text-align: right;
      font-size: 16px;
    }

    &-article {
      &--text {
        h3 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        padding: 20px;
        font-size: 14px;
      }
    }
  }

  .m-page ~ .fancybox-container {
    .fancybox-slide--html,
    .fancybox-slide {
      padding: 0;
      height: 100%;
      display: flex;
    }

    .popup {
      height: 100%;
      display: flex !important;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      box-shadow: none;
    }
  }

  .form-b-wrap {
    display: block;
    position: relative;

    .check-item {
      position: absolute;
      left: 0;
      top: 62px;
      margin-left: 0;
    }
  }

  .article {
    padding: 30px 0 10px;

    h1 {
      margin: 0 0 20px;
      line-height: 1.13;
      font-size: 30px;
    }

    .btn-primary {
      display: block;
      width: 100%;
    }
  }

  .choice-country {
    padding: 40px 0 10px;

    h2 {
      font-size: 26px;
      text-align: left;
      margin: 0;
    }

    .choice-slider {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .slider-item {
    margin: 30px 15px;
    position: relative;

    &-photo {
      height: 200px;
      @include border-radius(5px 5px 0 0);
    }

    &-box {
      padding: 20px 20px 13px;
    }

    &-title {
      font-size: 12px;
      line-height: 1.33;
      margin-bottom: 23px;

      span {
        font-size: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        padding-bottom: 7px;
      }
    }

    &-box {
      position: relative;
    }

    .btn-primary {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      @include border-radius(0 0 5px 5px);
      padding: 17px;
    }
  }

  .results-tests {
    &-col {
      &.w2 {
        width: 100%;
      }
    }
  }

  .country {
    background-size: contain !important;

    &-text {
      h2 {
        font-size: 20px;
        margin: 0 0 20px;
        line-height: 1.2;
      }
    }

    &-header {
      padding: 44px 0 20px;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.3);
        width: 80%;
      }

      h1 {
        font-size: 32px;
        margin-bottom: 9px;
      }

      &-subtitle {
        font-size: 12px;
      }
    }

    &-map {
      padding-bottom: 70px;

      &-header {
        margin-bottom: 18px;
        display: block;

        h3 {
          font-size: 20px;
          margin-bottom: 20px;
        }

        .btn-primary {
          display: block;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-things {
      margin-bottom: 21px;

      h2 {
        font-size: 20px;
        margin-bottom: 25px;
      }

      h4 {
        font-size: 16px;
      }

      &--item {
        line-height: 1.5;
        margin-bottom: 28px;

        &-pic {
          height: 120px;
          margin-bottom: 21px;
        }
      }
    }
  }

  .btn-more {
    .btn-primary {
      display: block;
    }
  }

  .text-slider {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .slick-slider.fancy-slider {
    margin-left: -20px;
    margin-right: -20px;

    .slick-arrow.slick-prev {
      left: 15px;
    }

    .slick-arrow.slick-next {
      right: 15px;
    }
  }

  .timer {
    font-size: 16px;

    strong {
      width: 54px;
    }
  }

  .quiz {
    padding: 22px 0;

    h1 {
      font-size: 32px;
    }

    &-subtitle {
      font-size: 12px;
      line-height: 1.35;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &-progress {
      margin-bottom: 25px;
    }

    &-row {
      &-title {
        font-size: 16px;
      }
    }

    &-question {
      font-size: 16px;
      margin-bottom: 19px;
    }

    &-button {
      min-height: 80px;
      padding: 10px 20px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.5;

      &.active {
        &::before {
          display: none;
        }
      }
    }

    .btn-primary {
      display: block;
      width: 100%;
    }
  }

  .results {
    padding: 57px 0;

    .row {
      margin: 0 -5px;

      [class^='col-'] {
        padding: 0 5px;
      }
    }

    h1 {
      font-size: 32px;
      margin-bottom: 14px;
    }

    &-subtitle {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 33px;
    }

    &-box {
      margin-bottom: 50px;
      padding: 96px 10px 29px;

      &.clock {
        &::before {
          background-size: 45px auto;
          top: 30px;
          background-position: center top;
        }
      }

      &.answ {
        &::before {
          background-size: 34px auto;
          top: 30px;
          background-position: center top;
        }
      }

      &--descr {
        font-size: 12px;
        line-height: 1.67;
        margin-bottom: 1px;
      }

      &--data {
        font-size: 24px;
        line-height: 1.35;
      }
    }

    &-text {
      margin-bottom: 30px;

      h3 {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &-buttons {
      margin-bottom: 41px;

      .btn-primary {
        margin-bottom: 10px;
        padding: 13px 5px;
      }
    }

    &-tests {
      margin-bottom: 0;

      h3 {
        font-size: 16px;
        line-height: 2;
        padding-bottom: 0;
        margin-bottom: 20px;
      }

      &-row {
        font-size: 14px;
        line-height: 1.45;

        &.title {
          display: none;
        }
      }

      &-col {
        &.w1 {
          width: 52%;
          padding-right: 10px;
        }

        &.w2 {
          width: 100%;
          padding: 0;
        }

        &.w3 {
          width: 22%;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background: #dfdfdf;
            width: 1px;
          }
        }

        &.w3,
        &.w7 {
          display: block;
          text-align: right;
          line-height: 1.7;
        }

        &.w4 {
          width: 26%;
          text-align: right;

          .btn-primary {
            overflow: hidden;
            text-indent: -9999px;
            position: relative;
            width: 50px;
            height: 50px;
            @include border-radius(5px);
            display: inline-block;
            vertical-align: middle;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background: url(../images/arrow-r-white.svg) center no-repeat;
            }
          }
        }

        &.w5 {
          width: 14%;
        }

        &.w6 {
          width: 58%;
        }

        &.w7 {
          width: 28%;
        }
      }
    }
  }

  .account {
    padding: 30px 0;

    h1 {
      font-size: 18px;
      line-height: 1.33;
      margin-bottom: 20px;
    }

    &-box {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 31px;

      &-inner {
        padding: 15px 20px 30px;
      }

      .social-row {
        padding: 32px 15px;
      }

      &-inner,
      .social-row {
        @include border-radius(0);

        &--col {
          flex: 0 0 50%;
          max-width: 50%;

          p {
            margin-bottom: 3px;
          }

          &.w1 {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 13px;

            strong {
              font-size: 18px;
            }
          }
        }
      }

      .row {
        margin: 0;

        [class^='col-'] {
          padding: 0;
        }
      }
    }
  }

  /* footer */
  .footer {
    padding: 30px 0;
    font-size: 16px;
  }

  .m-page .footer {
    display: none;
  }

  .copyright {
    float: none;
  }

  .f-navi {
    margin-bottom: 10px;

    &-item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .article {
    padding: 0 0 50px;
    line-height: 1.42;

    &-pic {
      margin: 0 -20px 32px;

      img {
        @include border-radius(0);
      }
    }
  }

  .slider-item {
    &-photo {
      height: 107px;
    }
  }
}

@media (max-width: 420px) {

}

@media (max-width: 374px) {

}

@media (max-width: 355px) {

}
