.spinner-content{
    background: url(../images/spinner.gif) , #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    opacity: 0.8;
    display: none;
    left: 0px;
    top: 0px;
}
.spinner-content.show-spinner{
    display: block;
}
.error-message, .error-message-forget{
    color: #fff;
    font-weight: 700;
    text-align: center;
    
}
.error-message.show , .error-message-forget.show{
    background: #f00;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}
.custom-styles .main{
	height: auto !important;
}
.timer_wrap{
	color:#000;
}

h1{
	font-size: 60px;
}
.country-header {
    background-size: cover !important;
}
.choice-country h2 {
    margin: 80px 0 27px;
}
.bg-overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.country {
    padding-bottom: 50px;
}
.wrap-page.custom-styles{
	
}
.country-things h4 a {
    min-height: 60px;
    display: block;
}
.country-things--item-pic{
	background-size: cover !important;	
}

#popup-forget-form, #popup-login-form.hide{
	display: none;
}

#popup-forget-form.show{
	display: block;
}
.choice-country {
    padding-top: 0px;
}



.btn-more .btn-primary {
    margin-top:20px;
}





























