@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic-ext,latin-ext');

/* primary vars */
$color-primary: #333;
$color-black: #000;
$color-white: #fff;
$color-blue: #1B68E3;
$color-gray: #EBEBEB;
$align-center: center;

/* common */

/* mixins */
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
  border-radius: $radius;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.25;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: $color-white;
  font-size: 16px;
  margin: 0;
  color: $color-black;
  font-weight: normal;
}

.wrap-page {
  background: url(../images/bg-page.jpg) center bottom no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -97px;
}

button,
input,
select,
textarea {
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

input,
select,
textarea {
  font-weight: 300;
}

select:-moz-focusring {
  text-shadow: 0 0 0 $color-black;
  color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: underline;
  transition: all 0.2s ease;
  color: $color-blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $color-black;
  }

  &:active {
    color: #989898;
  }
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

dl,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0 0 20px 25px;
  list-style-type: decimal;
  list-style-position: outside;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 10px 20px;
  border: 1px solid $color-black;
}

hr {
  height: 0;
  border: none;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1124px;
}

.hidden {
  overflow: hidden;
}

.btn-primary {
  text-decoration: none;
  background: linear-gradient(101.31deg, #1E70E7 0%, rgba(30, 112, 231, 0) 100%), linear-gradient(0deg, #1E70E7, #1E70E7);
  border: none;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.1;
  @include border-radius(39px);
  text-align: $align-center;
  color: $color-white;
  padding: 10px 60px 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &.w-border {
    color: $color-blue;
    font-size: 12px;
    background: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    border: 2px solid $color-blue;

    &:hover {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      color: $color-blue;
      box-shadow: 0 5px 10px rgba(46, 142, 255, 0.25);
    }

    &:active {
      border-color: #E7E7E7;
      color: #E7E7E7;
    }
  }

  &:hover {
    color: $color-white;
    background: linear-gradient(101.31deg, #1E70E7 0%, rgba(30, 112, 231, 0) 100%), linear-gradient(0deg, #1E70E7, #1E70E7);
    box-shadow: 0 10px 25px #2E8EFF;
    text-decoration: none;
  }

  &:active {
    background: linear-gradient(0deg, #1E70E7, #1E70E7);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 -2px 2px #38ADFC;
  }

  &.disabled {
    background: #F3F3F3;
    color: #C4C4C4;
    cursor: default;

    &:hover,
    &:active {
      background: #F3F3F3;
      color: #C4C4C4;
      box-shadow: none;
    }
  }

  &.w-font {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}

.main {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 320px;

  &.m-page {
    background: url(../images/bg-m-page.jpg) center bottom no-repeat;
    background-size: cover;
  }
}

/* header */
.header {
  position: relative;
  background: #FBFBFB;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .btn-primary {
      font-weight: bold;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}

// header-nav
.navi {
  .header-row & {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }

  &-item {
    position: relative;

    .header-row & {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &-exit {
      display: none;

      a {
        padding-left: 30px;
        color: #4291f0;
        padding: 18px 22px 18px 60px;
        background: url(../images/icon-exit.png) 20px center no-repeat;

        &:hover {
          background: url(../images/icon-exit.png) 20px center no-repeat;
          color: #4291f0;
        }
      }
    }
  }

  &-link {
    padding: 0;
    height: 80px;
    line-height: 80px;
    display: block;
    color: $color-black;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

    &::before {
      content: "";
      width: 100%;
      height: 5px;
      background: $color-blue;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      display: none;
    }

    &:hover {
      color: $color-blue;
      text-decoration: none;
    }

    &:active {
      color: #AEAEAE;
    }

    .active & {
      &::before {
        display: block;
      }
    }
  }
}

.btn-navi {
  display: none;
  width: 32px;
  height: 32px;
  background: url(../images/btn-navi.svg) center no-repeat;
  cursor: pointer;

  &.active {
    background: url(../images/btn_close_blue.svg) center no-repeat;
  }
}

/* content */
.content {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.main-box {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  &-wrap {
    width: 100%;
  }

  &-title {
    font-size: 96px;
    font-weight: bold;
    color: $color-blue;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;

    span {
      color: #848484;
      font-weight: normal;
      font-size: 18px;
      line-height: 19px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -8px;
      margin-left: 14px;

      strong {
        font-weight: 600;
      }
    }
  }

  &-buttons {
    z-index: 100;
    .btn-primary {
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      min-width: 200px;
      padding: 12px 10px 13px;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  #scene {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
  }

  &--cloud-l,
  &--cloud-r {
    width: 100%;
    height: 100%;
  }

  &--cloud-l {
    background: url(../images/cloud-l.png) left center no-repeat;
  }

  &--cloud-r {
    background: url(../images/cloud-r.png) right center no-repeat;
  }
}

.popup {
  background: #fdfdff url(../images/bg-popup.jpg) center bottom no-repeat;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  width: 544px;
  @include border-radius(5px);
  padding: 20px;
  display: none;

  &-form {
    width: 352px;
    margin: 0 auto;

    .check-item {
      margin-left: 20px;
    }
  }

  &-title {
    text-align: $align-center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 13px;
    font-weight: bold;
  }

  &-subtitle {
    text-align: $align-center;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 30px;
  }

  &-forgot {
    text-align: $align-center;
    padding: 1px 0 16px;
  }

  &-buttons {
    padding-top: 20px;
    text-align: $align-center;

    .btn-primary {
      min-width: 266px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      padding: 12px 10px 13px;
    }
  }

  &-article {
    padding: 0;
    width: 928px;
    background: $color-white;

    &--pic {
      img {
        width: 100%;
      }
    }

    &--text {
      padding: 44px 35px;
      line-height: 1.375;

      h3 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        margin: 0 0 25px;
      }

      p {
        margin: 0 0 22px;
      }
    }
  }
}

/* check-item */
.check-item {
  position: relative;
  cursor: pointer;

  &-label {
    padding: 0 0 0 30px;
    cursor: pointer;
  }

  span,
  &-label {
    display: inline-block;
    vertical-align: middle;
  }

  &-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }

  &-dot {
    width: 19px;
    position: absolute;
    left: 0;
    top: 0;
    height: 19px;
    background: $color-white;
    border: 2px solid #E3E3E3;
    @include border-radius(5px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.2s;
      display: none;
      width: 18px;
      height: 18px;
      background: none;
    }
  }

  input[type=checkbox]:checked + .check-item-dot {
    background: $color-blue;
  }

  input[type=checkbox]:checked + .check-item-dot::before {
    display: block;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
  }
}

.fancybox-active {
  height: 100%
}

.popup .fancybox-slide--html .fancybox-close-small {
  right: 10px;
  top: 10px;
}

.popup .fancybox-button.fancybox-button--close {
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2l2-2 15 14.91L14.91 17 0 2z' fill='%23000'/%3E%3Cpath d='M15 0l2 2L2 17l-2-2L15 0z' fill='%23000'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;



  svg {
    display: none
  }
}

.popup-article .fancybox-slide--html .fancybox-close-small {
  right: 0;
  top: 0;
}
.popup .fancybox-button {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0L0 2l6.48 6.52L0 15l2 2 6.474-6.474L14.91 17 17 14.91l-6.474-6.436L17 2l-2-2-6.48 6.48L2 0z' fill='%23000'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2l2-2 15 14.91L14.91 17 0 2z' fill='%236F6F6F'/%3E%3Cpath d='M15 0l2 2L2 17l-2-2L15 0z' fill='%236F6F6F'/%3E%3C/svg%3E");
  }

  svg {
    display: none;
  }
}

.popup-article .fancybox-button {
  background-color: $color-white;
  @include border-radius(0 5px 0 5px);
}


/* H-titles */
h1 {
  font-size: 64px;
  color: $color-blue;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.1;
  color: $color-black;
  text-transform: uppercase;
  margin: 0;
  text-align: $align-center;
}

/* article */
.article {
  position: relative;
  padding: 110px 0 10px;
  margin-bottom: 16px;
  line-height: 1.375;
  background: url(../images/bg-article.jpg) center top no-repeat;

  h1 {
    margin: -8px 0 50px;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    margin: 0 0 23px;

    &:last-child {
      margin-top: 50px;
    }
  }

  &-pic {
    img {
      width: 100%;
    }
  }

  .btn-primary {
    padding: 13px 40px;
  }
}

.choice-country {
  padding: 94px 0 10px;
  position: relative;

  h2 {
    margin: 0 0 27px;
  }

  .choice-slider {
    padding: 0 66px;
  }
}

.slider-item {
  background: #FBFBFB;
  @include border-radius(5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: 30px;

  .row {
    margin: 0;

    [class^='col-'] {
      padding: 0;
    }
  }

  &-photo {
    @include border-radius(5px 0 0 5px);
    height: 100%;
    background-size: cover !important;
  }

  &-title {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    span {
      display: block;
      font-size: 64px;
      line-height: 1.1;
      margin-bottom: 6px;
    }
  }

  &-box {
    padding: 37px 65px;

    img {
      height: 100%;
    }
  }

  &-descr {
    margin-bottom: 67px;
    line-height: 1.375;
  }

  .btn-primary {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 74px;
  }
}

.form-b {
  margin-bottom: 97px;

  &-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
  }

  &-row {
    margin-bottom: 21px;
  }

  &-label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
  }

  &-inp {
    border: none;
    width: 100%;
    color: $color-black;
    font-size: 14px;
    padding: 8px 15px;
    height: 40px;
    background: $color-white;
    @include border-radius(5px);
    border: 2px solid #E3E3E3;
  }

  ::-webkit-input-placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  ::-moz-placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  :-ms-input-placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  :-moz-placeholder {
    color: $color-black;
    opacity: 0.2;
  }
}

.slick-track {
  .slick-slide {
    height: auto;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

// quiz
.quiz {
  padding: 107px 0;
  position: relative;

  h1 {
    font-size: 48px;
    margin: 0 0 20px;
    color: $color-black;
    margin: 0 0 6px;
    font-family: 'Montserrat', sans-serif;
  }

  &-subtitle {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 14px;
    position: relative;

    &-title {
      font-size: 24px;
      color: $color-black;
    }
  }

  &-progress {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 41px;
    position: relative;

    span {
      height: 4px;
      position: absolute;
      left: 0;
      top: 0;
      background: $color-blue;
    }
  }

  &-question {
    line-height: 1.25;
    font-weight: 500;
    margin: 0 0 29px;
    font-size: 24px;
    color: $color-primary;
    font-family: 'Montserrat', sans-serif;
  }

  &-button {
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
    font-size: 18px;
    line-height: 1.35;
    justify-content: flex-start;
    background: $color-white;
    @include border-radius(5px);
    position: relative;
    padding: 10px 70px 10px 33px;
    text-align: left;

    &:hover {
      box-shadow: 3px 4px 17px rgba(139, 150, 159, 0.443897);
      border-color: $color-white;
    }

    &.active {
      background: #1E70E7;
      border-color: #1E70E7;
      color: $color-white;

      &::before {
        content: "";
        width: 65px;
        height: 63px;
        top: 50%;
        right: 10px;
        margin-top: -33px;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='65' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_ddddd)'%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='25' y='25' width='15' height='13'%3E%3Cpath d='M38.17 25l-7.777 9.442-3.624-3.715L25 32.481S30.355 38 30.523 38c.2-.008 9.477-11.315 9.477-11.315L38.17 25z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23fff' d='M16 16h32v32H16z'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_ddddd' x='-9' y='-9' width='82' height='82' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.5125 0 0 0 0 0.711381 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='screen' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.5125 0 0 0 0 0.711381 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='screen' in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.5125 0 0 0 0 0.711381 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='screen' in2='effect2_dropShadow' result='effect3_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.5125 0 0 0 0 0.711381 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='screen' in2='effect3_dropShadow' result='effect4_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.5125 0 0 0 0 0.711381 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='screen' in2='effect4_dropShadow' result='effect5_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect5_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }

  .btn-primary {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 26px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;

  strong {
    width: 74px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
  }
}

.results {
  padding: 204px 0 100px;
  position: relative;

  h1 {
    font-size: 96px;
    line-height: 0.6;
    margin: 0 0 32px;
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    text-align: $align-center;
  }

  &-subtitle {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: $align-center;
  }

  &-text {
    margin: 0 0 50px;
    line-height: 1.375;

    h3 {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      margin: 0 0 20px;
    }
  }

  &-box {
    text-align: $align-center;
    position: relative;
    @include border-radius(5px);
    background: #F3F3F3;
    display: block;
    flex-direction: column;
    padding: 202px 20px 70px;
    font-family: 'Montserrat', sans-serif;
    color: $color-black;
    text-decoration: none;

    &:hover {
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      color: $color-black;
    }

    &--descr {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
      color: $color-primary;
      text-transform: uppercase;
      line-height: 1.5;
    }

    &--data {
      font-size: 42px;
      line-height: 0.76;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
    }

    &.clock::before {
      width: 84px;
      height: 84px;
      background: url(../images/ic_time.svg) no-repeat;
      top: 72px;
      left: 50%;
      margin-left: -42px;
    }

    &.answ::before {
      width: 80px;
      height: 113px;
      background: url(../images/ic_answers.svg) no-repeat;
      top: 52px;
      left: 50%;
      margin-left: -40px;
    }
  }

  &-buttons {
    margin-bottom: 47px;

    .btn-primary {
      display: block;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      padding: 18px 5px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.social-row {
  margin-bottom: 30px;

  &-text {
    font-weight: bold;
    font-size: 14px;
    opacity: 0.2;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
  }
}

.social-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &-link {
    display: block;
    width: 40px;
    height: 40px;
    @include border-radius(5px);

    .light-color & {
      border: 1px solid #ECECEC;
    }

    &.vk {
      background: url(../images/ic-vk.svg) no-repeat;

      .light-color &,
      .light-color &:hover {
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.79 13.735h1.378s.413-.07.62-.278c.207-.21.207-.627.207-.627s0-1.812.827-2.09c.826-.28 1.929 1.81 3.031 2.577.827.627 1.447.488 1.447.488l3.031-.07s1.585-.07.827-1.393c-.069-.07-.413-.906-2.273-2.648-1.93-1.811-1.654-1.463.62-4.598 1.378-1.882 1.929-2.996 1.791-3.554-.138-.488-1.171-.348-1.171-.348H18.68s-.276-.07-.413.07c-.207.139-.276.348-.276.348s-.551 1.463-1.24 2.717c-1.516 2.578-2.136 2.718-2.343 2.578-.551-.348-.413-1.533-.413-2.3 0-2.507.413-3.553-.758-3.831-.345-.07-.62-.14-1.585-.14-1.24 0-2.273 0-2.825.28-.413.208-.689.626-.482.626.207 0 .758.14 1.034.488.275.627.275 1.672.275 1.672s.207 2.996-.482 3.345c-.482.278-1.102-.28-2.48-2.648-.69-1.185-1.24-2.578-1.24-2.578s-.07-.279-.276-.418c-.207-.14-.551-.21-.551-.21H1.386s-.482 0-.689.21c-.137.209 0 .557 0 .557s2.55 5.992 5.443 9.058c2.687 2.926 5.65 2.717 5.65 2.717z' fill='%235D9CFF'/%3E%3C/svg%3E");

        &:active {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.79 13.735h1.378s.413-.07.62-.278c.207-.21.207-.627.207-.627s0-1.812.827-2.09c.826-.28 1.929 1.81 3.031 2.577.827.627 1.447.488 1.447.488l3.031-.07s1.585-.07.827-1.393c-.069-.07-.413-.906-2.273-2.648-1.93-1.811-1.654-1.463.62-4.598 1.378-1.882 1.929-2.996 1.791-3.554-.138-.488-1.171-.348-1.171-.348H18.68s-.276-.07-.413.07c-.207.139-.276.348-.276.348s-.551 1.463-1.24 2.717c-1.516 2.578-2.136 2.718-2.343 2.578-.551-.348-.413-1.533-.413-2.3 0-2.507.413-3.553-.758-3.831-.345-.07-.62-.14-1.585-.14-1.24 0-2.273 0-2.825.28-.413.208-.689.626-.482.626.207 0 .758.14 1.034.488.275.627.275 1.672.275 1.672s.207 2.996-.482 3.345c-.482.278-1.102-.28-2.48-2.648-.69-1.185-1.24-2.578-1.24-2.578s-.07-.279-.276-.418c-.207-.14-.551-.21-.551-.21H1.386s-.482 0-.689.21c-.137.209 0 .557 0 .557s2.55 5.992 5.443 9.058c2.687 2.926 5.65 2.717 5.65 2.717z' fill='%23C2C2C2'/%3E%3C/svg%3E");
        }
      }
    }

    &.ok {
      background: url(../images/ic-ok.svg) no-repeat;

      .light-color &,
      .light-color &:hover {
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 .636c-3.127 0-5.67 2.632-5.67 5.866 0 3.235 2.543 5.865 5.67 5.865 3.128 0 5.67-2.63 5.67-5.865C12.67 3.268 10.128.636 7 .636zm0 3.437c1.295 0 2.347 1.09 2.347 2.43C9.347 7.84 8.295 8.93 7 8.93c-1.294 0-2.348-1.09-2.348-2.428 0-1.339 1.054-2.429 2.348-2.429zm-4.675 8.493a1.645 1.645 0 00-1.433.805c-.49.803-.255 1.864.52 2.37a10.45 10.45 0 003.292 1.41l-3.169 3.28a1.76 1.76 0 000 2.43c.326.335.75.503 1.176.503.424 0 .85-.168 1.174-.504L7 19.638l3.117 3.222c.648.671 1.699.671 2.348 0a1.76 1.76 0 000-2.43l-3.17-3.279a10.43 10.43 0 003.292-1.41c.777-.506 1.011-1.568.522-2.37-.49-.804-1.514-1.046-2.291-.54a6.998 6.998 0 01-7.635 0 1.613 1.613 0 00-.857-.265z' fill='%235D9CFF'/%3E%3C/svg%3E");
      }

      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 .636c-3.127 0-5.67 2.632-5.67 5.866 0 3.235 2.543 5.865 5.67 5.865 3.128 0 5.67-2.63 5.67-5.865C12.67 3.268 10.128.636 7 .636zm0 3.437c1.295 0 2.347 1.09 2.347 2.43C9.347 7.84 8.295 8.93 7 8.93c-1.294 0-2.348-1.09-2.348-2.428 0-1.339 1.054-2.429 2.348-2.429zm-4.675 8.493a1.645 1.645 0 00-1.433.805c-.49.803-.255 1.864.52 2.37a10.45 10.45 0 003.292 1.41l-3.169 3.28a1.76 1.76 0 000 2.43c.326.335.75.503 1.176.503.424 0 .85-.168 1.174-.504L7 19.638l3.117 3.222c.648.671 1.699.671 2.348 0a1.76 1.76 0 000-2.43l-3.17-3.279a10.43 10.43 0 003.292-1.41c.777-.506 1.011-1.568.522-2.37-.49-.804-1.514-1.046-2.291-.54a6.998 6.998 0 01-7.635 0 1.613 1.613 0 00-.857-.265z' fill='%23C2C2C2'/%3E%3C/svg%3E");
      }
    }

    &.tw {
      background: url(../images/ic-tw.svg) no-repeat;

      .light-color &,
      .light-color &:hover {
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.315 2.779a8.348 8.348 0 01-2.398.644 4.153 4.153 0 001.831-2.295 8.218 8.218 0 01-2.641 1.006A4.152 4.152 0 0014.065.818a4.162 4.162 0 00-4.163 4.165c0 .322.04.645.103.955A11.83 11.83 0 011.42 1.58a4.134 4.134 0 00-.567 2.102c0 1.445.735 2.72 1.856 3.47a4.2 4.2 0 01-1.882-.53v.05a4.164 4.164 0 003.337 4.088c-.358.093-.726.14-1.096.141-.271 0-.527-.027-.786-.063a4.17 4.17 0 003.891 2.888 8.344 8.344 0 01-5.168 1.78c-.35 0-.672-.013-1.006-.052a11.788 11.788 0 006.394 1.868c7.656 0 11.846-6.343 11.846-11.848 0-.18 0-.361-.012-.542a8.966 8.966 0 002.087-2.153z' fill='%235D9CFF'/%3E%3C/svg%3E");
      }

      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.315 2.779a8.348 8.348 0 01-2.398.644 4.153 4.153 0 001.831-2.295 8.218 8.218 0 01-2.641 1.006A4.152 4.152 0 0014.065.818a4.162 4.162 0 00-4.163 4.165c0 .322.04.645.103.955A11.83 11.83 0 011.42 1.58a4.134 4.134 0 00-.567 2.102c0 1.445.735 2.72 1.856 3.47a4.2 4.2 0 01-1.882-.53v.05a4.164 4.164 0 003.337 4.088c-.358.093-.726.14-1.096.141-.271 0-.527-.027-.786-.063a4.17 4.17 0 003.891 2.888 8.344 8.344 0 01-5.168 1.78c-.35 0-.672-.013-1.006-.052a11.788 11.788 0 006.394 1.868c7.656 0 11.846-6.343 11.846-11.848 0-.18 0-.361-.012-.542a8.966 8.966 0 002.087-2.153z' fill='%23C2C2C2'/%3E%3C/svg%3E");
      }
    }

    &.fb {
      background: url(../images/ic-fb.svg) no-repeat;

      .light-color &,
      .light-color &:hover {
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33 22.364V11.913H.545V8.15H3.33V4.936C3.33 2.41 4.975.09 8.766.09a23.2 23.2 0 012.67.146l-.09 3.514s-1.158-.011-2.42-.011c-1.367 0-1.586.625-1.586 1.662V8.15h4.114l-.179 3.763H7.34v10.45H3.33z' fill='%235D9CFF'/%3E%3C/svg%3E");
      }

      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33 22.364V11.913H.545V8.15H3.33V4.936C3.33 2.41 4.975.09 8.766.09a23.2 23.2 0 012.67.146l-.09 3.514s-1.158-.011-2.42-.011c-1.367 0-1.586.625-1.586 1.662V8.15h4.114l-.179 3.763H7.34v10.45H3.33z' fill='%23C2C2C2'/%3E%3C/svg%3E");
      }
    }

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      .light-color & {
        background: #F3F3F3;
      }
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

      .light-color & {
        background: #F3F3F3;
        box-shadow: none;
      }
    }
  }
}

.slick-slider {
  .slick-arrow {
    height: 86px;
    width: 71px;
    position: absolute;
    top: 50%;
    margin-top: -43px;
    cursor: pointer;
    border: none;
    z-index: 10;
    overflow: hidden;
    text-indent: -9999px;
    background: none;

    &.slick-prev {
      left: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.4' fill='%23000'%3E%3Cpath d='M21 3l-3-3L0 18l18 18 3-3L6 18 21 3z'/%3E%3Cpath d='M21 3l-3-3L0 18l18 18 3-3L6 18 21 3z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 25px 15px;
    }

    &.slick-next {
      right: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.4' fill='%23000'%3E%3Cpath d='M0 3l3-3 18 18L3 36l-3-3 15-15L0 3z'/%3E%3Cpath d='M0 3l3-3 18 18L3 36l-3-3 15-15L0 3z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 25px 15px;
    }

    &:hover {
      &.slick-prev {
        background-image: url("data:image/svg+xml,%3Csvg width='71' height='86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M46 18l-3-3-18 18 18 18 3-3-15-15 15-15z' fill='%2332A1F8'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='71' height='86' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.180392 0 0 0 0 0.556863 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-position: left top;
      }

      &.slick-next {
        background-image: url("data:image/svg+xml,%3Csvg width='71' height='86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M25 18l3-3 18 18-18 18-3-3 15-15-15-15z' fill='%2332A1F8'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='71' height='86' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.180392 0 0 0 0 0.556863 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-position: left top;
      }
    }

    &:active {
      &.slick-prev {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1' fill='%23E7E7E7'%3E%3Cpath d='M21 3l-3-3L0 18l18 18 3-3L6 18 21 3z'/%3E%3Cpath d='M21 3l-3-3L0 18l18 18 3-3L6 18 21 3z'/%3E%3C/g%3E%3C/svg%3E");
        background-position: 25px 15px;
      }

      &.slick-next {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1' fill='%23E7E7E7'%3E%3Cpath d='M0 3l3-3 18 18L3 36l-3-3 15-15L0 3z'/%3E%3Cpath d='M0 3l3-3 18 18L3 36l-3-3 15-15L0 3z'/%3E%3C/g%3E%3C/svg%3E");
        background-position: 25px 15px;
      }
    }
  }
}

.account {
  position: relative;
  padding: 100px 0;
  background: $color-white;

  h1 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  &-box {
    margin: 0 -15px 51px;

    .row {
      margin: 0;

      [class^='col-'] {
        padding: 0;
      }
    }

    &-inner {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      background: url(../images/bg-acc-b.jpg) no-repeat;
      background-size: cover;
      height: 100%;
      color: $color-white;
      @include border-radius(5px 0 0 5px);
      font-family: 'Montserrat', sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      padding: 46px 60px;

      p {
        font-size: 24px;
      }

      strong {
        line-height: 1;
      }
    }

    .social-row {
      @include border-radius(0 5px 5px 0);
      background: #5D9CFF;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      color: $color-white;
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: row;
      padding: 50px;

      .row {
        width: 100%;
      }

      &-text {
        color: $color-white;
        opacity: 1;
      }
    }
  }
}

.results-tests {
  position: relative;
  margin-bottom: 50px;

  h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &-row {
    background-color: $color-white;
    font-size: 18px;
    font-weight: bold;

    &.title {
      font-size: 14px;
      font-weight: normal;
    }

    &:nth-child(odd) {
      background: #F8F8F8;
    }

    &.active {
      background: linear-gradient(125.75deg, #1E70E7 0%, rgba(30, 112, 231, 0) 100%), linear-gradient(0deg, #1E70E7, #1E70E7);
      color: #FEFEFE;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-col {
    padding: 20px 0;

    .title & {
      padding: 34px 0 21px;
    }

    &.w1 {
      width: 43%;
    }

    &.w2 {
      width: 50%;

      span {
        font-weight: normal;
      }
    }

    &.w3 {
      width: 34%;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &.w4 {
      width: 23%;

      .btn-primary {
        font-family: 'Montserrat', sans-serif;
        padding: 13px 5px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        display: block;
      }
    }

    &.w5 {
      width: 9%;
    }

    &.w6 {
      width: 60%;
    }

    &.w7 {
      padding: 0;
      width: 31%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.country {
  line-height: 1.35;
  position: relative;
  margin-bottom: 100px;

  h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  &-header {
    padding: 102px 0 48px;

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: $align-center;
      justify-content: space-between;
    }

    h1 {
      font-size: 72px;
      line-height: 0.9;
      color: $color-black;
      margin-bottom: 16px;
    }

    &-c {
      h1 {
        font-size: 96px;
        line-height: 0.6;
        color: $color-black;
        margin-bottom: 30px;
      }
    }

    &-subtitle {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-arrow {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: $color-black;
    text-decoration: none;
    font-weight: bold;
    background-position: center top;
    background-repeat: no-repeat;
    width: 260px;
    display: block;
    padding: 28px 0 0;

    &:hover {
      color: #3DA6F9;
      text-decoration: none;
    }

    &:focus {
      color: #C2C2C2;
    }

    &.lf {
      background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293 7.293a1 1 0 000 1.414l6.364 6.364a1 1 0 101.414-1.414L2.414 8l5.657-5.657A1 1 0 006.657.93L.293 7.293zM257 7H1v2h256V7z' fill='%23000'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293 7.293a1 1 0 000 1.414l6.364 6.364a1 1 0 101.414-1.414L2.414 8l5.657-5.657A1 1 0 006.657.93L.293 7.293zM257 7H1v2h256V7z' fill='%233DA6F9'/%3E%3C/svg%3E");
      }

      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293 7.293a1 1 0 000 1.414l6.364 6.364a1 1 0 101.414-1.414L2.414 8l5.657-5.657A1 1 0 006.657.93L.293 7.293zM257 7H1v2h256V7z' fill='%23C2C2C2'/%3E%3C/svg%3E");
      }
    }

    &.rg {
      background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256.707 7.293a1 1 0 010 1.414l-6.364 6.364a1 1 0 11-1.414-1.414L254.586 8l-5.657-5.657A1 1 0 11250.343.93l6.364 6.364zM0 7h256v2H0V7z' fill='%23000'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256.707 7.293a1 1 0 010 1.414l-6.364 6.364a1 1 0 11-1.414-1.414L254.586 8l-5.657-5.657A1 1 0 11250.343.93l6.364 6.364zM0 7h256v2H0V7z' fill='%233DA6F9'/%3E%3C/svg%3E");
      }

      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='257' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256.707 7.293a1 1 0 010 1.414l-6.364 6.364a1 1 0 11-1.414-1.414L254.586 8l-5.657-5.657A1 1 0 11250.343.93l6.364 6.364zM0 7h256v2H0V7z' fill='%23C2C2C2'/%3E%3C/svg%3E");
      }
    }
  }

  &-text {
    h2 {
      font-size: 36px;
      line-height: 1.55;
      margin: 0 0 70px;
    }
  }

  &-things {
    h2 {
      font-size: 36px;
      line-height: 1.55;
      margin: 0 0 47px;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 21px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      word-break: break-all;

      a {
        color: $color-black;
        text-decoration: none;
      }
    }

    p {
      margin: 0 0 23px;
    }

    &-row {
      margin-bottom: 65px;
    }

    &--item {
      margin-bottom: 46px;

      &-pic {
        margin: 0 0 32px;
        background: #C4C4C4;
        @include border-radius(5px);
        height: 153px;
        display: block;
      }
    }
  }

  &-map {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    h3 {
      font-size: 36px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }

    .btn-primary {
      padding: 13px 95px;
    }

    &-row {
      margin-bottom: 50px;
    }
  }
}

.text-slider {
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 20px;

  &-item {
    line-height: 1.45;

    p {
      margin: 0 0 21px;
    }
  }
}

/* slick */
.slick-slider {
  line-height: 1.1;
}

.slider-item {
  display: none;
  vertical-align: middle;
}

div .slider-item:first-child {
  display: block;
}

.slick-slider.fancy-slider {
  margin-bottom: 20px;
  padding: 0;

  .slick-list {
    padding: 20px 0;
  }

  .slick-arrow {
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    margin-top: -18px;
    top: 50%;
    background: none;
    background: #FDFDFD;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: #FDFDFD;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }

    &:active {
      background: linear-gradient(92.29deg, #1E70E7 0%, rgba(30, 112, 231, 0) 100%), linear-gradient(0deg, #1E70E7, #1E70E7);
    }

    &.slick-prev {
      left: -15px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L6 0 0 6l6 6 1-1-5-5 5-5z' fill='%23000'/%3E%3Cpath d='M7 1L6 0 0 6l6 6 1-1-5-5 5-5z' fill='%23000'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L6 0 0 6l6 6 1-1-5-5 5-5z' fill='%23000'/%3E%3Cpath d='M7 1L6 0 0 6l6 6 1-1-5-5 5-5z' fill='%232176E9'/%3E%3C/svg%3E");
          background-position: center;
        }
      }

      &:active {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L6 0 0 6l6 6 1-1-5-5 5-5z' fill='%23fff'/%3E%3C/svg%3E");
          background-position: center;
        }
      }
    }

    &.slick-next {
      right: -15px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%23000'/%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%23000'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%23000'/%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%232176E9'/%3E%3C/svg%3E");
        }
      }

      &:active {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%23fff'/%3E%3Cpath d='M0 11l1 1 6-6-6-6-1 1 5 5-5 5z' fill='%23fff'/%3E%3C/svg%3E");
        }
      }
    }
  }

  a.fancybox {
    margin: 10px 8px;
    display: block;

    &:hover {
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25)
    }
  }
}

.testing-block {
  position: relative;
  margin-bottom: 100px;
  line-height: 1.45;

  h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 34px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

  &-pic {
    position: absolute;
    width: 55%;
    right: 0;
    top: 0;

    img {
      width: 100%;
    }
  }

  .btn-primary {
    margin-top: 49px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 66px;
  }
}

.btn-more {
  text-align: $align-center;

  .btn-primary {
    padding: 13px 30px;
    min-width: 250px;
  }
}


/* footer */
.footer {
  position: relative;
  flex-shrink: 0;
  padding: 30px 0 47px;
  margin-top: auto;
}

.f-navi {
  &-item {
    float: left;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    &:hover {
      color: $color-black;
      text-decoration: underline;
    }

    &:active {
      color: #989898;
    }
  }
}

.copyright {
  float: right;
  color: rgba(0, 0, 0, 0.2);
}
